<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzptc.twds.dao.CoursesMapper" >
  <resultMap id="BaseResultMap" type="com.zzptc.twds.pojo.Courses" >
    <id column="co_id" property="coId" jdbcType="INTEGER" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="fId" property="fid" jdbcType="INTEGER" />
    <result column="co_name" property="coName" jdbcType="VARCHAR" />
     <result column="co_type" property="coType" jdbcType="VARCHAR" />
    <result column="co_week" property="coWeek" jdbcType="DOUBLE" />
    <result column="co_weNum" property="coWenum" jdbcType="INTEGER" />
    <result column="co_total" property="coTotal" jdbcType="DOUBLE" />
    <result column="co_term" property="coTerm" jdbcType="VARCHAR" />
      <result column="state" property="state" jdbcType="CHAR" />
      <result column="sta" property="sta" jdbcType="INTEGER" />
  </resultMap>
   <sql id="Base_Column_List" >
    co_id, c_id, fId, co_name, co_type,co_week, co_weNum, co_total, co_term,state,sta
  </sql>
  
   <update id="updateByPrimaryKeySelective" parameterType="com.zzptc.twds.pojo.Courses" >
    update courses
    <set >
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
      <!--<if test="fid != null" >
        fId = #{fid,jdbcType=INTEGER},
      </if>-->
      <if test="coName != null" >
        co_name = #{coName,jdbcType=VARCHAR},
      </if>
       <if test="coType != null" >
        co_type = #{coType,jdbcType=VARCHAR},
      </if>
      <if test="coWeek != null" >
        co_week = #{coWeek,jdbcType=DOUBLE},
      </if>
      <if test="coWenum != null" >
        co_weNum = #{coWenum,jdbcType=INTEGER},
      </if>
      <if test="coTotal != null" >
        co_total = #{coTotal,jdbcType=DOUBLE},
      </if>
      <if test="coTerm != null" >
        co_term = #{coTerm,jdbcType=VARCHAR},
      </if>
       <if test="sta != null" >
           sta = #{sta,jdbcType=INTEGER},
      </if>
    </set>
    where co_id = #{coId,jdbcType=INTEGER}
  </update>
  
  
  <insert id="insertSelective" parameterType="com.zzptc.twds.pojo.Courses" >
    insert into courses
    <trim prefix="(" suffix=")" suffixOverrides="," >/*prefix:在trim标签内sql语句加上前缀。suffix: 在trim标签内sql语句加上后缀。
    suffixOverrides:指定去除多余的后缀内容，如：suffixOverrides=","，去除trim标签内sql语句多余的后缀","。*/
      <if test="coId != null" >
        co_id,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
      <if test="fid != null" >
        fId,
      </if>
      <if test="coName != null" >
        co_name,
      </if>
      <if test="coType != null" >
        co_type,
      </if>
      <if test="coWeek != null" >
        co_week,
      </if>
      <if test="coWenum != null" >
        co_weNum,
      </if>
      <if test="coTotal != null" >
        co_total,
      </if>
      <if test="coTerm != null" >
        co_term,
      </if>
       <if test="state != null" >
        state,
      </if>
        <if test="sta != null" >
            sta,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="coId != null" >
        #{coId,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="coName != null" >
        #{coName,jdbcType=VARCHAR},
      </if>
      <if test="coType != null" >
        #{coType,jdbcType=VARCHAR},
      </if>
      <if test="coWeek != null" >
        #{coWeek,jdbcType=DOUBLE},
      </if>
      <if test="coWenum != null" >
        #{coWenum,jdbcType=INTEGER},
      </if>
      <if test="coTotal != null" >
        #{coTotal,jdbcType=DOUBLE},
      </if>
      <if test="coTerm != null" >
        #{coTerm,jdbcType=VARCHAR},
      </if>
       <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
        <if test="sta != null" >
            #{sta,jdbcType=INTEGER},
        </if>
    </trim>
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from courses
    where co_id = #{coId,jdbcType=INTEGER}
  </delete>
  
  
  <!--关联课程与学院表  -->
  <select id="selectAllCourses" resultMap="coursesMap" parameterType="com.zzptc.twds.pojo.Courses" >
      select t1.co_id,t1.c_id,t1.co_name,t1.co_type,t1.co_week,t1.co_weNum,t1.co_total,t1.co_term,t2.c_name from courses t1,college t2
      where t1.c_id=t2.c_id  and t1.state ="0"



  </select>
  
  
  <!--关联课程与学院表  -->
  <select id="selectAllCoursesBycId" resultMap="coursesMap" parameterType="com.zzptc.twds.pojo.Courses" >
  	 select t1.co_id,t1.co_name,t1.co_type,t1.co_week,t1.co_weNum,t1.co_total,t1.co_term,t2.c_name,t3.fName,case t1.state when '0' then '未分配' when '1' then '已分配' end as state  from courses t1,college t2,formula t3
  	 where t1.c_id=t2.c_id and t1.fId=t3.fId and t2.c_id= #{cId,jdbcType=INTEGER}
  	  <if test="coTerm != null" >
     	 and t1.co_term= #{coTerm,jdbcType=VARCHAR}
      </if>
  	  <if test="state != null" >
       and state = #{state,jdbcType=CHAR}
      </if>
  
  </select>
  
  
   <resultMap id="coursesMap" type="com.zzptc.twds.pojo.Courses" >
    <id column="co_id" property="coId" jdbcType="INTEGER" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="fId" property="fid" jdbcType="INTEGER" />
    <result column="co_name" property="coName" jdbcType="VARCHAR" />
     <result column="co_type" property="coType" jdbcType="VARCHAR" />
    <result column="co_week" property="coWeek" jdbcType="DOUBLE" />
    <result column="co_weNum" property="coWenum" jdbcType="INTEGER" />
    <result column="co_total" property="coTotal" jdbcType="DOUBLE" />
    <result column="co_term" property="coTerm" jdbcType="VARCHAR" />
     <result column="state" property="state" jdbcType="CHAR" />
    <association property="college" javaType="com.zzptc.twds.pojo.College">
    		 <id column="c_id" property="cId" jdbcType="INTEGER" />
   			 <result column="c_name" property="cName" jdbcType="VARCHAR" />
    </association>
    <association property="formula" javaType="com.zzptc.twds.pojo.Formula">
    	<id column="fId" property="fid" jdbcType="INTEGER" />
   		 <result column="fName" property="fname" jdbcType="VARCHAR" />
    
    </association>
    
  </resultMap>
  
  
    <select id="selectByCoName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from courses 
      where  co_name = #{coName,jdbcType=VARCHAR}
  </select>
  
  
    <select id="selectByPrimaryKey" resultMap="coursesMapById" parameterType="java.lang.Integer" >
    select  t1.*,t2.c_name from courses t1,college t2
      where t1.co_id = #{coId,jdbcType=INTEGER} and t1.c_id=t2.c_id
  </select>
  
   <resultMap id="coursesMapById" type="com.zzptc.twds.pojo.Courses" >
    <id column="co_id" property="coId" jdbcType="INTEGER" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="fId" property="fid" jdbcType="INTEGER" />
    <result column="co_name" property="coName" jdbcType="VARCHAR" />
     <result column="co_type" property="coType" jdbcType="VARCHAR" />
    <result column="co_week" property="coWeek" jdbcType="DOUBLE" />
    <result column="co_weNum" property="coWenum" jdbcType="INTEGER" />
    <result column="co_total" property="coTotal" jdbcType="DOUBLE" />
    <result column="co_term" property="coTerm" jdbcType="VARCHAR" />
    <association property="college" javaType="com.zzptc.twds.pojo.College">
    		 <id column="c_id" property="cId" jdbcType="INTEGER" />
   			 <result column="c_name" property="cName" jdbcType="VARCHAR" />
    </association>
    <association property="formula" javaType="com.zzptc.twds.pojo.Formula">
    	<id column="fId" property="fid" jdbcType="INTEGER" />
   		 <result column="fName" property="fname" jdbcType="VARCHAR" />
    
    </association>
    
  </resultMap>
  
  <select id="selectBycoTerm" resultMap="coursesMap" parameterType="com.zzptc.twds.pojo.Courses">
  select t1.co_id,t1.co_name,t1.co_type,t1.co_week,t1.co_weNum,t1.co_total,t1.co_term,t2.c_name,t3.fName,case t1.state when '0' then '未分配' when '1' then '已分配' end as state from courses t1,college t2,formula t3
  	 where t1.c_id=t2.c_id and t1.fId=t3.fId and t1.co_term= #{coTerm,jdbcType=VARCHAR} 
  	  <if test="cId != null" >
  	 and t1.c_id= #{cId,jdbcType=INTEGER}
  	 </if>
  
  </select>
  	
</mapper>