<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzptc.twds.dao.ExaminesMapper" >
  <resultMap id="BaseResultMap" type="com.zzptc.twds.pojo.Examines" >
    <id column="eId" property="eid" jdbcType="INTEGER" />
    <result column="tId" property="tid" jdbcType="INTEGER" />
     <result column="eWeek" property="eWeek" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="DOUBLE" />
    <result column="result" property="result" jdbcType="CHAR" />
     <result column="etime" property="etime" jdbcType="TIMESTAMP" />
  </resultMap>
   <sql id="Base_Column_List" >
    eId, tId, eWeek,value, result,etime
  </sql>

    <insert id="insertToscientific" parameterType="com.zzptc.twds.pojo.Toscientific" >
        insert into toscientific
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="toid != null" >
                toId,
            </if>
            <if test="oid != null" >
                oId,
            </if>
            <if test="username != null" >
                username,
            </if>
            <if test="toname != null" >
                toName,
            </if>
            <if test="time != null" >
                time,
            </if>
            <if test="state != null" >
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="toid != null" >
                #{toid,jdbcType=INTEGER},
            </if>
            <if test="oid != null" >
                #{oid,jdbcType=INTEGER},
            </if>
            <if test="username != null" >
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="toname != null" >
                #{toname,jdbcType=VARCHAR},
            </if>

            <if test="time != null" >
                #{time,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null" >
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>


    <insert id="insertSelective" parameterType="com.zzptc.twds.pojo.Examines" >
    insert into examines
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        eId,
      </if>
      <if test="tid != null" >
        tId,
      </if>
      <if test="eWeek != null" >
        eWeek,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="result != null" >
        result,
      </if>
       <if test="etime != null" >
        etime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
       <if test="eWeek != null" >
       #{eWeek,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=DOUBLE},
      </if>
      <if test="result != null" >
        #{result,jdbcType=CHAR},
      </if>
       <if test="etime != null" >
       #{etime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <select id="selectAllByresult" resultMap="examinesAll"   >
  
  	select eId,eWeek,value,DATE_FORMAT(etime,'%Y-%m-%d %k:%i:%s') as etime,t2.*,t3.*,t4.*,t5.*, case t1.result when '0' then '审核中' when '1' then '申报通过' when '2' then '申报失败' end as result
  	 from examines t1,t_courses t2,courses t3,user t4,college t5 where t1.tId=t2.tId and t3.co_id=t2.co_id and t2.userId=t4.userId and t5.c_id=t3.c_id and t1.result='0' 
  	
  </select>
  
  <!-- 用于分页查询 -->
    <select id="selectAllByresultPage" resultMap="examinesAll"  parameterType="com.zzptc.twds.pojo.Examines" >
  
  	select eId,eWeek,value,DATE_FORMAT(etime,'%Y-%m-%d %k:%i:%s') as etime,t2.*,t3.*,t4.*,t5.*, case t1.result when '0' then '审核中' when '1' then '申报通过' when '2' then '申报失败' end as result
  	 from examines t1,t_courses t2,courses t3,user t4,college t5 where t1.tId=t2.tId and t3.co_id=t2.co_id and t2.userId=t4.userId and t5.c_id=t3.c_id and t1.result='0'   
  	 <if test="cId != null" >
       and  t3.c_id= #{cId,jdbcType=INTEGER}
      </if>
      limit  #{beginIndex},#{rows}
  </select>
  
  
  <select id="selectAllByresult1" resultMap="examinesAll"  >
  
  	select eId,eWeek,value,DATE_FORMAT(etime,'%Y-%m-%d %k:%i:%s') as etime,t2.*,t3.*,t4.*,t5.*, case t1.result when '0' then '审核中' when '1' then '申报通过' when '2' then '申报失败' end as result
  	 from examines t1,t_courses t2,courses t3,user t4,college t5 where t1.tId=t2.tId and t3.co_id=t2.co_id and t2.userId=t4.userId  and  t5.c_id=t3.c_id and t1.result in('1','2')
  	
  </select>
    <select id="selectAllTechWorkLoad" resultMap="tCoursesAll"  parameterType="java.lang.String">

  	SELECT t1.*,t2.*,t3.*,t4.* FROM `t_courses` t1,courses t2,user t3 ,classes t4 WHERE t1.co_id=t2.co_id and t1.username=t3.username  and t1.username=#{username,jdbcType=VARCHAR} and t1.cl_id=t4.cl_id

  </select>


    <resultMap id="tCoursesAll" type="com.zzptc.twds.pojo.TCourses" >
        <id column="tId" property="tid" jdbcType="INTEGER" />
        <result column="co_id" property="coId" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="cl_id" property="clId" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <association property="courses" javaType="com.zzptc.twds.pojo.Courses">
            <id column="co_id" property="coId" jdbcType="INTEGER" />
            <result column="c_id" property="cId" jdbcType="INTEGER" />
            <result column="fId" property="fid" jdbcType="INTEGER" />
            <result column="co_name" property="coName" jdbcType="VARCHAR" />
            <result column="co_type" property="coType" jdbcType="VARCHAR" />
            <result column="co_week" property="coWeek" jdbcType="DOUBLE" />
            <result column="co_weNum" property="coWenum" jdbcType="INTEGER" />
            <result column="co_total" property="coTotal" jdbcType="DOUBLE" />
            <result column="co_term" property="coTerm" jdbcType="VARCHAR" />
        </association>
        <association property="classes" javaType="com.zzptc.twds.pojo.Classes">
            <id column="cl_id" property="clId" jdbcType="INTEGER" />
            <result column="mId" property="mid" jdbcType="INTEGER" />
            <result column="cl_name" property="clName" jdbcType="VARCHAR" />
            <result column="cl_year" property="clYear" jdbcType="DATE" />
            <result column="cl_num" property="clNum" jdbcType="INTEGER" />

        </association>
        <association property="user" javaType="com.zzptc.twds.pojo.User" >
            <id column="username" property="username" jdbcType="VARCHAR" />
            <result column="name" property="name" jdbcType="VARCHAR" />
        </association>
        <!-- <association property="formula" javaType="com.zzptc.twds.pojo.Formula">
        <id column="fId" property="fid" jdbcType="INTEGER" />
            <result column="fName" property="fname" jdbcType="VARCHAR" />
         <result column="expression" property="expression" jdbcType="VARCHAR" />
    </association>-->

    </resultMap>

    <select id="selectAll" resultMap="examinesAll"  parameterType="java.lang.Integer" >
  
  	select eId,eWeek,value,DATE_FORMAT(etime,'%Y-%m-%d %k:%i:%s') as etime,t2.*,t3.*,case t1.result when '0' then '审核中' when '1' then '申报通过' when '2' then '申报失败' end as result 
  	from examines t1,t_courses t2,courses t3 where t1.tId=t2.tId and t3.co_id=t2.co_id and t2.userId=#{userid,jdbcType=INTEGER}
  	
  </select>
  
  <resultMap id="examinesAll" type="com.zzptc.twds.pojo.Examines" >
	    <id column="eId" property="eid" jdbcType="INTEGER" />
	    <result column="tId" property="tid" jdbcType="INTEGER" />
	     <result column="eWeek" property="eWeek" jdbcType="INTEGER" />
	    <result column="value" property="value" jdbcType="DOUBLE" />
	    <result column="result" property="result" jdbcType="CHAR" />
     	<result column="etime" property="etime" jdbcType="TIMESTAMP" />
   		<association property="tCourses" javaType="com.zzptc.twds.pojo.TCourses">
    		 <id column="tId" property="tid" jdbcType="INTEGER" />
		    <result column="co_id" property="coId" jdbcType="INTEGER" />
		    <result column="userId" property="userid" jdbcType="INTEGER" />
		    <result column="cl_id" property="clId" jdbcType="INTEGER" />
		    <result column="state" property="state" jdbcType="CHAR" />
   		</association>
   		<association property="user" javaType="com.zzptc.twds.pojo.User" >
    		 <id column="userId" property="userid" jdbcType="INTEGER" />
		    <result column="name" property="name" jdbcType="VARCHAR" />
    	</association>
   		<association property="courses" javaType="com.zzptc.twds.pojo.Courses">
    		 <id column="co_id" property="coId" jdbcType="INTEGER" />
    		 <result column="c_id" property="cId" jdbcType="INTEGER" />
		    <result column="co_name" property="coName" jdbcType="VARCHAR" />
		    <result column="co_term" property="coTerm" jdbcType="VARCHAR" />
   		</association>
   		<association property="college" javaType="com.zzptc.twds.pojo.College">
    		 <id column="c_id" property="cId" jdbcType="INTEGER" />
   			 <result column="c_name" property="cName" jdbcType="VARCHAR" />
    </association>
    
  </resultMap>
  
    <update id="updateByPrimaryKeySelective" parameterType="com.zzptc.twds.pojo.Examines" >
    update t_courses
    <set >

      <if test="content != null" >
          content = #{content,jdbcType=VARCHAR},
      </if>
        <if test="state != null" >
            state = #{state,jdbcType=VARCHAR},
        </if>
    </set>
    where tId = #{tid,jdbcType=INTEGER}
  </update>
    <update id="updateOther" parameterType="com.zzptc.twds.pojo.Toworkload" >
        update toworkload
        <set >

            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where toId = #{toid,jdbcType=INTEGER}
    </update>
    <update id="updateScientific" parameterType="com.zzptc.twds.pojo.Toscientific" >
        update toscientific
        <set >

            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where toId = #{toid,jdbcType=INTEGER}
    </update>
  
   <select id="selectAllByCld" resultMap="examinesAll"  parameterType="java.lang.Integer" >
  
  	select eId,eWeek,value,DATE_FORMAT(etime,'%Y-%m-%d %k:%i:%s') as etime,t2.*,t3.*,t4.*,t5.*, case t1.result when '0' then '审核中' when '1' then '申报通过' when '2' then '申报失败' end as result
  	 from examines t1,t_courses t2,courses t3,user t4,college t5 
  	 where t1.tId=t2.tId and t3.co_id=t2.co_id and t2.userId=t4.userId and t5.c_id=t3.c_id and t1.result='0' and t5.c_id=#{cId,jdbcType=INTEGER}
  	
  	
  </select>
  
  
  <select id="selectAllByCld1" resultMap="examinesAll"  parameterType="java.lang.Integer" >
  
  	select eId,eWeek,value,DATE_FORMAT(etime,'%Y-%m-%d %k:%i:%s') as etime,t2.*,t3.*,t4.*,t5.*, case t1.result when '0' then '审核中' when '1' then '申报通过' when '2' then '申报失败' end as result
  	 from examines t1,t_courses t2,courses t3,user t4,college t5
  	  where t1.tId=t2.tId and t3.co_id=t2.co_id and t2.userId=t4.userId  and  t5.c_id=t3.c_id and t1.result in('1','2') and t5.c_id=#{cId,jdbcType=INTEGER}
  	
  </select>
  
  
     <select id="selectByresultandUserId" resultMap="examinesAll" parameterType="com.zzptc.twds.pojo.Examines" >
  
  	select eId,eWeek,value,DATE_FORMAT(etime,'%Y-%m-%d %k:%i:%s') as etime,t2.*,t3.*,case t1.result when '0' then '审核中' when '1' then '申报通过' when '2' then '申报失败' end as result 
  	from examines t1,t_courses t2,courses t3 
  	where t1.tId=t2.tId and t3.co_id=t2.co_id and t2.userId=#{userid,jdbcType=INTEGER} and t1.result= #{result,jdbcType=CHAR}
  	
  </select>
  
  
  
</mapper>